<div style="background-color: #f3f4f6">
  <div class="flex flex-col justify-center items-center h-[100vh]">
    <!-- Title -->
    <div class="content flex justify-between">
      <h3 class="text-xl font-mono text-gray-800">
        Component to Component Communication
      </h3>
      <button (click)="addUser()">Add User</button>
      <button (click)="deleteUser()">Delete User</button>

      <div class="terminal w-full">
        <pre>public universalSelectedColor = '';</pre>
      </div>
      ch
    </div>

    <!-- Main Card -->
    <div
      class="!z-5 mt-6 relative flex flex-col rounded-[20px] max-w-[900px] bg-clip-border shadow-3xl shadow-shadow-500 w-full !p-4 3xl:p-![18px] undefined"
    >
      <div class="h-full w-full">
        <div
          class="relative w-full mb-3 flex gap-8 justify-center rounded-xl p-8"
        >
          <ng-container *ngFor="let comp of component">
            <app-card-using-observables
              [title]="comp"
            ></app-card-using-observables>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="flex gap-4">
      <button
        class="p-2 bg-sky-500 rounded-lg text-white"
        (click)="component.push('Component ' + (component.length + 1))"
      >
        Add Child
      </button>
      <button
        class="p-2 bg-red-500 rounded-lg text-white"
        (click)="component.pop()"
      >
        Remove Last Child
      </button>
    </div>
  </div>
</div>
