<div class="h-[100vh] w-full flex gap-4 items-center justify-center">
  <button
    mat-button
    class="p-2 rounded-lg bg-orange-500 text-white"
    routerLink="./communication"
  >
    Component Communication
  </button>

  <button
    mat-button
    class="p-2 rounded-lg bg-green-500 text-white"
    routerLink="./subject"
  >
    Subject
  </button>
  <button
    mat-button
    class="p-2 rounded-lg bg-purple-500 text-white"
    routerLink="./pipes"
  >
    Pipes
  </button>
  <button
    mat-button
    class="p-2 rounded-lg bg-cyan-500 text-white"
    routerLink="./http"
  >
    HTTP Part 1
  </button>
  <button
    mat-button
    class="p-2 rounded-lg bg-black text-white"
    routerLink="./user"
  >
    User
  </button>
</div>
