<div style="background-color: #f3f4f6">
  <div class="flex flex-col justify-center items-center h-[100vh]">
    <!-- Title -->
    <div class="content flex justify-between mb-3">
      <h3 class="mb-2 text-xl font-mono text-gray-800">
        Parameterized Pipes - Transform data
      </h3>

      <div class="terminal w-full">
        <pre><span class="pln">The hero's birthday is {{ birthday | </span><a href="api/common/DatePipe" class="text-yellow-400"><span class="pln">date</span>:'fullDate'</a><span class="pln"> }}</span></pre>
      </div>
    </div>

    <!-- Main Card -->
    <div
      class="!z-5 mt-6 relative flex flex-col rounded-[20px] max-w-[900px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 w-full !p-4 3xl:p-![18px]"
    >
      <div class="h-full w-full">
        <div
          class="relative w-full bg-zinc-200 mb-3 flex gap-8 justify-center rounded-xl p-8"
        >
          <p class="font-bold text-slate-700">
            The hero's birthday is
            <span class="text-green-500">{{
              birthday | date : "fullDate"
            }}</span>
          </p>
        </div>
        <div class="mb-1 flex items-center justify-between px-1 md:items-start">
          <div class="">
            <p class="text-lg font-bold text-zinc-700">Angular Pipes</p>
            <p class="mt-1 text-sm font-medium text-gray-600">
              By Govindram Solanki
            </p>
          </div>

          <div
            class="flex items-center md:items-center lg:justify-between"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
